<div class="columns is-centered is-mobile">
  <div class="column column is-three-quarters-mobile is-two-thirds-tablet is-half-widescreen">
    <h3 class="subtitle">{{ "SHA-256.Subtitel" | translate }}</h3>
    <h1 class="title">{{ "SHA-256.Titel" | translate }}</h1>
    <p [innerHTML]="'SHA-256.Absatz 1' | translate"></p>
    <br>
    <p [innerHTML]="'SHA-256.Absatz 2' | translate"></p>
    <br>
    <p [innerHTML]="'SHA-256.Absatz 3' | translate"></p>
    <br>
    <p [innerHTML]="'SHA-256.Absatz 4' | translate"></p>
    <img src="../assets/img/Formel.png">
    <p [innerHTML]="'SHA-256.Absatz 5' | translate"></p>
    <br>
    <div class="box columns is-vcentered">
      <div class="column is-one-fifth">
        <img src="../assets/img/computer.jpg" class="picture">
        <!-- <h1 class="title is-number">1.</h1> -->
      </div>
      <div class="column is-four-fifths">
        <p [innerHTML]="'SHA-256.32' | translate"></p>
      </div>
    </div>
    <div class="box columns is-vcentered">
      <div class="column is-one-fifth">
        <img src="../assets/img/datacenter.jpg" class="picture">
        <!-- <h1 class="title is-number">2.</h1> -->
      </div>
      <div class="column is-four-fifths">
        <p [innerHTML]="'SHA-256.64' | translate"></p>
      </div>
    </div>
    <div class="box columns is-vcentered">
      <div class="column is-one-fifth">
        <img src="../assets/img/world.jpg" class="picture">
        <!-- <h1 class="title is-number">3.</h1> -->
      </div>
      <div class="column is-four-fifths">
        <p [innerHTML]="'SHA-256.96' | translate"></p>
      </div>
    </div>
    <div class="box columns is-vcentered">
      <div class="column is-one-fifth">
        <img src="../assets/img/universe.jpg" class="picture">
        <!-- <h1 class="title is-number">4.</h1> -->
      </div>
      <div class="column is-four-fifths">
        <p [innerHTML]="'SHA-256.128' | translate"></p>
      </div>
    </div>
    <div class="box columns is-vcentered">
      <div class="column is-one-fifth">
        <img src="../assets/img/milkyway.jpg" class="picture">
        <!-- <h1 class="title is-number">5.</h1> -->
      </div>
      <div class="column is-four-fifths">
        <p [innerHTML]="'SHA-256.160' | translate"></p>
      </div>
    </div>
    <div class="box columns is-vcentered">
      <div class="column is-one-fifth">
        <img src="../assets/img/time.jpg" class="picture">
        <!-- <h1 class="title is-number">6.</h1> -->
      </div>
      <div class="column is-four-fifths">
        <p [innerHTML]="'SHA-256.192' | translate"></p>
      </div>
    </div>
    <div class="box columns is-vcentered">
      <div class="column is-one-fifth">
        <img src="../assets/img/bigbang.jpg" class="picture">
        <!-- <h1 class="title is-number">7.</h1> -->
      </div>
      <div class="column is-four-fifths">
        <p [innerHTML]="'SHA-256.224' | translate"></p>
      </div>
    </div>
    <p [innerHTML]="'SHA-256.256' | translate"></p>
  </div>
</div>
