<div id="page-container">
  <div id="content-wrap">

    <app-navbar></app-navbar>

    <router-outlet></router-outlet>

    <!-- <button (click)="switchLanguage('de')">Deutsch</button>
    <button (click)="switchLanguage('en')">English</button>
    <div>{{"Kryptographie.Titel" | translate}}</div> -->

  </div>

  <footer id="footer" class="accent-color">
    <p id="footer-left">
      <a routerLink="/impressum" routerLinkActive="active">{{"Impressum" | translate}}</a> <br>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img
          alt="Creative Commons Lizenzvertrag" style="border-width:0"
          src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" style="margin-top: 10px;"></a>
    </p>
    <p id="footer-right">
      {{"Kontakt" | translate}} <br>
      <a href="mailto:support@tokensinmind.de">support@tokensinmind.de</a>
    </p>
  </footer>

</div>
