<div class="columns is-centered is-mobile">
  <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-widescreen">
    <div class="columns">
      <div class="column is-one-third">
        Cooles Bild
      </div>
      <div class="column is-two-thirds">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, natus! Commodi nam mollitia voluptatibus eaque
          itaque sed optio delectus pariatur facere voluptate reprehenderit vero earum iste veniam, id, iure voluptas
          inventore maxime perferendis quam excepturi quod voluptatem! Ullam consectetur asperiores quisquam ea adipisci
          sit provident reprehenderit nesciunt amet assumenda veniam rerum autem, excepturi at sint tempora atque.
          Aliquid sint, distinctio odio obcaecati, ad beatae omnis enim non libero quo sequi vel voluptate assumenda!
          Atque quisquam aliquam iste sit, officiis ipsam.</p>
        <p>Ipsum, blanditiis nobis nulla porro, laborum obcaecati quisquam veniam molestiae, fuga est excepturi rem
          neque natus distinctio adipisci tempore quis pariatur sequi iste iusto quam alias enim. Aperiam amet qui
          distinctio quaerat. Optio illum, ut, libero dignissimos ratione facilis quas totam autem et magnam, dolore
          harum distinctio porro sapiente? Nobis tenetur commodi porro reiciendis sapiente hic eum molestiae, dolorem
          dignissimos voluptatem illo sunt autem at amet, est nam eos sed. Asperiores quae quam omnis aut itaque quas
          vel quod corrupti!</p>
        <p>Minus eligendi sunt, vero adipisci libero, magnam blanditiis ullam dolore nulla vitae eaque sapiente, animi
          ipsam quae natus in corrupti molestiae quas. Error earum perspiciatis pariatur? Illo, sed eos reprehenderit
          nisi similique nihil odit. Mollitia accusantium qui sequi et reiciendis officiis necessitatibus sunt. Ea
          omnis, impedit magnam natus fugit maiores molestiae corrupti eligendi mollitia illo, error culpa, cumque earum
          inventore quaerat vero unde provident? Doloremque adipisci rem quia alias, consequatur aperiam, officia est
          modi fuga quis voluptate id? Reprehenderit, libero.</p>
        <p>Provident consequatur tenetur pariatur? Deserunt repellendus nihil dignissimos vel fugit voluptates delectus
          facilis cum quod? Hic deserunt nisi, molestias harum velit libero vitae ex sunt quaerat consequatur quas ad
          distinctio id facere temporibus sit ut, ullam ipsum explicabo qui accusamus cum architecto ratione. Non
          praesentium laboriosam, eum itaque consequuntur omnis aliquam temporibus eos officiis? Molestias veniam nihil
          expedita deleniti saepe dignissimos ipsa deserunt laborum perferendis. Praesentium autem laborum labore cumque
          quibusdam rem? Possimus illum obcaecati libero quod deserunt labore minus.</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="no-view">
  <div class="box error">
    <p>Das Spiel lässt sich nur auf einem ausreichend großen Display spielen, da sonst die Texte und
      Grafiken nicht lesbar wären. Sorry!
    </p>
  </div>
</div>


  <div class="tile is-ancestor">
    <div class="tile is-vertical is-10">
      <div class="tile is-parent is-10">
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
      </div>
      <div class="tile is-10 is-parent">
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-8"></div>
        <div class="tile is-child is-1 box"></div>
      </div>
      <div class="tile is-10 is-parent">
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-8"></div>
        <div class="tile is-child is-1 box"></div>
      </div>
      <div class="tile is-10 is-parent">
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-8"></div>
        <div class="tile is-child is-1 box"></div>
      </div>
      <div class="tile is-10 is-parent">
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-8"></div>
        <div class="tile is-child is-1 box"></div>
      </div>
      <div class="tile is-10 is-parent">
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-8"></div>
        <div class="tile is-child is-1 box"></div>
      </div>
      <div class="tile is-10 is-parent">
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-8"></div>
        <div class="tile is-child is-1 box"></div>
      </div>
      <div class="tile is-10 is-parent">
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-8"></div>
        <div class="tile is-child is-1 box"></div>
      </div>
      <div class="tile is-10 is-parent">
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-8"></div>
        <div class="tile is-child is-1 box"></div>
      </div>
      <div class="tile is-parent is-10">
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
        <div class="tile is-child is-1 box"></div>
      </div>
    </div>
  </div> -->
