<div class="columns is-centered is-mobile">
  <div class="column column is-three-quarters-mobile is-two-thirds-tablet is-half-widescreen">
    <div class="box">
      <div class="columns is-vcentered">
        <div class="column is-one-quarter">
          <a href="">
            <img src="../assets/img/download.svg" width="75%">
          </a>
        </div>
        <div class="column is-three-quarters">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit corrupti culpa esse, velit nam
            temporibus sequi ea cum nemo quaerat tempora quisquam numquam sint iure, quae nisi ratione provident iste!
            Esse, libero possimus laboriosam, maiores excepturi quasi soluta vero nobis dolorem facere neque autem sequi
            omnis? Repellendus explicabo vitae excepturi.</p>
          <p>Maxime hic laudantium perferendis quo sapiente molestiae, ullam nihil dolore magnam mollitia culpa
            reprehenderit rem natus sit exercitationem quasi neque sequi nesciunt blanditiis ad aliquid asperiores at
            dolorem! Maiores pariatur culpa nesciunt odio officiis, repellendus provident quibusdam tempora quos quas
            commodi consectetur est nisi ab. Sunt cum omnis modi? Repellendus?</p>
          <p>Nostrum nihil similique exercitationem accusamus officia praesentium non, corrupti eveniet soluta
            voluptatem molestiae error, magni ipsum consequatur ad officiis tempore dolorum alias quos eius. Fugit
            temporibus dolorum voluptate doloribus velit asperiores amet blanditiis saepe error numquam expedita
            nesciunt exercitationem, animi eius hic vitae minima ullam! At expedita dolorem aspernatur quidem!</p>
        </div>
      </div>
    </div>
  </div>
</div>
